<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 All Rights Reserved: Copyright [2024] [Zhuang Pan]
 Open Source Agreement: Apache License, Version 2.0
 For educational purposes only, commercial use shall comply with the author's copyright information.
 The author does not guarantee or assume any responsibility for the risks of using software.

 Licensed under the Apache License, Version 2.0 (the "License").
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<mapper namespace="com.izpan.modules.system.repository.mapper.SysRoleDataScopeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SysRoleDataScopeResultMap" type="com.izpan.modules.system.domain.entity.SysRoleDataScope">
        <result column="role_id" property="roleId"/>
        <result column="data_scope_id" property="dataScopeId"/>
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="SysRoleDataScopeColumnList">
        id,
        create_user,
        create_user_id,
        create_time,
        update_user,
        update_user_id,
        update_time,
        is_deleted,
        role_id, data_scope_id
    </sql>
    <select id="listByPermissionResource" resultType="com.izpan.modules.system.domain.bo.SysRoleDataScopeQueryBO">
        SELECT
            srds.role_id,
            sds.id AS data_scope_id,
            sds.code AS data_scope_code,
            sds.name AS data_scope_name,
            sds.permission_id,
            sds.permission_resource,
            sds.permission_name,
            sds.scope_type,
            sds.scope_type_name,
            sds.custom_fields,
            sds.custom_rules
        FROM
            sys_role_data_scope srds
                INNER JOIN sys_data_scope sds ON srds.data_scope_id = sds.id
        WHERE
            sds.is_deleted = 0
          AND sds.status = 1
          AND srds.is_deleted = 0
          AND sds.permission_resource = #{permissionResource}
    </select>

    <select id="listSoftDeletedByRoleId" resultType="com.izpan.modules.system.domain.entity.SysRoleDataScope">
        SELECT
        srds.id,
        srds.role_id,
        srds.data_scope_id
        FROM
        sys_role_data_scope srds
        WHERE
        srds.role_id = #{roleId}
        AND srds.data_scope_id IN
        <foreach collection="dataScopeIds" item="dataScopeId" separator="," open="(" close=")">
            #{dataScopeId}
        </foreach>
        AND srds.is_deleted = 1
    </select>

    <update id="recoverByRoleAndDataScope">
        UPDATE 
            sys_role_data_scope srds
        SET 
            srds.is_deleted = 0,
            srds.update_user = #{updateUser},
            srds.update_user_id = #{updateUserId},
            srds.update_time = #{updateTime}
        WHERE srds.is_deleted = 1 
          AND srds.role_id = #{roleId}
          AND srds.data_scope_id IN
        <foreach collection="dataScopeIds" item="dataScopeId" separator="," open="(" close=")">
            #{dataScopeId}
        </foreach>
    </update>

</mapper>
